.container {
    max-width: 1310px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.info-block {
    position: relative;
    padding-left: 40px;

    @media(max-width: 369px) {
        padding-left: 18px;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @media(max-width: 369px) {
            left: -7px;
        }
    }
}

.info-block_phone:after {
    width: 29px;
    height: 28px;
    background: url('../img/tel.svg') no-repeat center;
    background-size: contain;

    @media(max-width: 369px) {
        width: 20px;
        height: 20px;
    }
}

.info-block_email:after {
    width: 29px;
    height: 22px;
    background: url('../img/mail.svg') no-repeat center;
    background-size: contain;

    @media(max-width: 369px) {
        width: 20px;
        height: 20px;
    }
}

.info-block_subscription:after {
    width: 29px;
    height: 28px;
    background: url('../img/hello.svg') no-repeat center;
    background-size: contain;

    @media(max-width: 369px) {
        width: 20px;
        height: 20px;
    }
}

.phone-link,
.email-link {
    font-size: 17px;

    @media(max-width: 767px) {
        font-size: 15px;
    }
}

.info-block__article {
    font-size: 15px;
    color: #686868;
    border-bottom: 2px solid #3EEAB3;

    @media(max-width: 767px) {
        font-size: 14px;
    }
}

.login {
    display: inline-block;
    font-size: 15px;
    color: #686868;
    position: relative;
    padding-left: 32px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 23px;
        height: 22px;
        background: url('../img/user.svg') no-repeat center;

        @media(max-width: 369px) {
            width: 20px;
            height: 20px;
        }
    }
}

.header-top {
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #DBDBDB;
    background: white;
    position: relative;
    z-index: 5;

    @media(max-width: 991px) {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .column {
            &:first-child {
                width: 100%;

                @media(min-width: 992px) {
                    width: 35%;
                }
            }

            &:last-child {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                @media(min-width: 440px) and (max-width: 991px) {
                    justify-content: space-around;
                }

                @media(min-width: 992px) {
                    width: 65%;
                }
            }
        }
    }
}

.logo {
    @media(max-width: 991px) {
        text-align: center;
        padding-bottom: 10px;
    }
}

.header-top__item {
    margin-bottom: 15px;

    @media(max-width: 369px) {
        width: 50%;
    }

    @media(min-width: 370px) and (max-width: 459px) {
        width: 50%;
    }

    @media(min-width: 460px) and (max-width: 599px) {
        width: 40%;
    }
}

.header__bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 6px 22px -3px rgba(0, 0, 0, 0.46);
    position: relative;
    z-index: 2;

    @media(max-width: 991px) {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 45px;
        display: flex;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .column {
            position: relative;

            @media(max-width: 991px) {
                width: 100%;
            }

            &:first-child {
                @media(max-width: 767px) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                // @media(min-width: 768px) and (max-width: 991px) {
                //     width: 30%;
                // }

                @media(min-width: 992px) {
                    width: 20%;
                }

                @media(min-width: 992px) and (max-width: 1279px) {
                    width: 22%;
                }
            }

            &:nth-child(2) {
                display: flex;
                justify-content: center;
                align-items: center;

                @media(min-width: 768px) and (max-width: 991px) {
                    width: 60%;
                }

                @media(min-width: 992px) {
                    width: 54%;
                }

                @media(min-width: 992px) and (max-width: 1279px) {
                    width: 46%;
                }
            }

            &:last-child {
                @media(min-width: 992px) {
                    width: 24%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }

                @media(min-width: 992px) and (max-width: 1279px) {
                    width: 32%;
                }
            }
        }
    }
}

.catalog-show {
    max-width: 232px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
    background: #EE3E0E;
    font-size: 15px;
    position: relative;
    padding-right: 40px;
    z-index: 20;
    text-align: center;
    cursor: pointer;

    @media(max-width: 991px) {
        display: none;
    }

    &:after {
        content: '';
        position: absolute;
        right: 18px;
        top: 16px;
        width: 16px;
        height: 15px;
        background: url('../img/arrow-w.png') no-repeat center;
    }
}

.catalog-list {
    position: absolute;
    top: -14px;
    left: 15px;
    // width: 100%;
    // -webkit-box-shadow: -2px 2px 19px 1px rgba(0, 0, 0, 0.30);
    // -moz-box-shadow: -2px 2px 19px 1px rgba(0, 0, 0, 0.30);
    // box-shadow: -2px 2px 19px 1px rgba(0, 0, 0, 0.30);
    // border-radius: 10px;
    // overflow: hidden;
    z-index: 10;

    &:hover {
        width: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 230px;
        height: 100%;
        z-index: -1;
        -webkit-box-shadow: -2px 2px 19px 1px rgba(0, 0, 0, 0.30);
        -moz-box-shadow: -2px 2px 19px 1px rgba(0, 0, 0, 0.30);
        box-shadow: -2px 2px 19px 1px rgba(0, 0, 0, 0.30);
        border-radius: 0px 0px 10px 10px;
    }
}

.catalog-list__links>li {
    width: 100%;

    &:not(:last-child) {
        a {
            border-bottom: none;
        }
    }

    &:hover {
        .inner-menu {
            display: flex;
        }

        .catalog-list__link {
            background: #F6F6F6;
        }
    }

    &:first-child {
        a {
            padding-top: 14px;

            &:after {
                top: 53%;
            }
        }
    }

    &:last-child {
        // border-radius: 10px;

        a {
            // border-radius: 0px 0px 10px 10px;
        }
    }
}

.catalog-list__links>li>a,
.more-btn {
    width: 232px;
    font-size: 12px;
    display: block;
    padding: 14px 20px 14px 20px;
    position: relative;
    // border-bottom: 1px solid #E3E3E3;
    border: 1px solid #E3E3E3;
    background: white;

    @media(min-width: 992px) and (max-width: 1099px) {
        width: 212px;
    }

    &:after {
        content: '';
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 15px;
        background: url('../img/arrow.svg') no-repeat center;

        @media(max-width: 1279px) {
            display: none;
        }
    }
}

.catalog-list__hidden {
    display: none;
}

.more-btn {
    cursor: pointer;

    &:after {
        top: 16px;
        transform: rotate(90deg);
    }
}

.more-btn.is-active {
    &:after {
        top: 16px;
        transform: rotate(270deg);
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        margin-right: 40px;

        @media(max-width: 1279px) {
            margin-right: 28px;
        }
    }

    a {
        font-size: 15px;
    }
}

.download-price {
    display: inline-block;
    padding-left: 28px;
    margin-left: 15px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 19px;
        background: url('../img/download.svg') no-repeat center;
    }
}

.favor {
    display: inline-block;
    width: 27px;
    height: 25px;
    background: url('../img/star1.svg') no-repeat center;
    margin-right: 30px;
}

.comparison {
    display: inline-block;
    width: 27px;
    height: 25px;
    background: url('../img/libra.svg') no-repeat center;
    background-size: contain;
    margin-right: 30px;
}

.basket {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../img/cart.svg') no-repeat center;
    background-size: contain;
    margin-right: 25px;

    .count {
        top: -5px;
    }
}

.user-info,
.basket-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info__link {
    position: relative;
}

.user-info {
    border-left: 1px solid #DBDBDB;
    padding-left: 30px;
    margin-left: auto;

    @media(max-width: 1279px) {
        padding-left: 17px;
    }
}

.count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 6px;
    border-radius: 10em;
    background: #EB360B;
    color: white;
    font-size: 13px;
    right: -5px;
    top: -9px;
}

.search-desctop {
    position: absolute;
    width: 23px;
    // height: 45px;
    overflow: hidden;
    right: -20px;
    padding-left: 28px;
    background: white url('../img/search.svg') no-repeat left center;
    border: 1px solid transparent;
    border-radius: 5px;
    z-index: 10;
    transition: 0.5s;

    input {
        width: 100%;
        height: 45px;
        border: none;
        background: white;
        padding-left: 5px;
        padding-right: 10px;
        outline: none;
    }
}

.search-desctop.is-active {
    width: 100%;
    border: 1px solid #DBDBDB;
}

.basket-price {
    font-size: 15px;
}

.catalog-list {
    transition: 0.5s;

    @media(max-width: 1279px) {
        opacity: 0;
        visibility: hidden;
    }
}

.catalog-list.is-active {
    @media(max-width: 1279px) {
        opacity: 1;
        visibility: visible;
    }
}

.burger {
    width: 33px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    @media(min-width: 992px) {
        display: none;
    }

    span {
        width: 100%;
        height: 3px;
        background: black;
        transition: 0.2s;
        position: relative;
    }
}

.burger.is-active {
    span {
        &:first-child {
            transform: rotate(44deg);
            top: 9px;
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:last-child {
            transform: rotate(-44deg);
            bottom: 8px;
        }
    }
}

.header__bottom .container {
    .column {
        &:nth-child(2) {
            @media(max-width: 991px) {
                display: none;
            }
        }

        &:nth-child(3) {
            @media(max-width: 991px) {
                display: none;
            }
        }
    }
}

.header__panel-mob {
    padding-top: 12px;
    padding-bottom: 12px;

    @media(min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    @media(min-width: 992px) {
        display: none;
    }
}

.search-mob {
    max-width: 370px;
    width: 100%;
    margin: 0 auto;

    @media(min-width: 768px) {
        margin: 0;
    }

    input {
        width: 100%;
        height: 40px;
        border: 1px solid #DBDBDB;
        border-radius: 5px;
        padding-left: 38px;
        padding-right: 10px;
        background: url('../img/search.svg') no-repeat left 2px center;
    }
}

.user-info_mob {
    padding-left: 0;
    border-left: 0;
    margin-left: 0;
    position: absolute;
    width: 220px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .favor,
    .comparison,
    .basket {
        margin-right: 12px;
    }

    .basket-price {
        font-size: 14px;
    }

    @media(min-width: 992px) {
        display: none;
    }

    // padding-top: 18px;
    // padding-bottom: 5px;

    // @media(min-width: 768px) {
    //     padding-top: 0px;
    // }
}

.search-mobile {
    right: 0px;
    top: 49%;
    transform: translateY(-50%);

    input {
        height: 43px;
    }

    @media(min-width: 992px) {
        display: none;
    }
}

.complect__top {
    @media(max-width: 767px) {
        display: flex;
        align-items: center;

        .complect__price-old {
            margin-bottom: 0;
        }

        .complect__price {
            margin-right: 20px;
        }
    }

    @media(min-width: 768px) {
        text-align: center;
    }
}

.dropdownmenu {
    max-width: 375px;
    width: 100%;
    position: absolute;
    left: -100%;
    top: 259px;
    z-index: 10;
    background: white;
    padding: 15px 0px 0px;
    border: 1px solid #DBDBDB;
    transition: 0.5s;

    @media(min-width: 600px) {
        top: 200px;
    }
}


.dropdownmenu.is-active {
    left: 0px;
}

.dropdownmenu.is-sticky {
    top: 45px;
}

.dropdownmenu__title {
    padding-top: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    padding-left: 15px;
}

.dropdownmenu__list>li {
    padding: 14px 15px;
    position: relative;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        right: 20px;
        top: 20px;
        width: 10px;
        height: 10px;
        background: url('../img/next.png') no-repeat center;
        transform: rotate(90deg);
    }

    &:not(:last-child) {
        border-bottom: 1px solid #E0E0E0;
    }
}

.dropdownmenu__inner {
    padding-top: 15px;
    display: none;

    li {
        margin-bottom: 10px;

    }
}

.mob-nav {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;

    li {
        margin-bottom: 15px;
        width: 50%;
    }
}

.top-banner {
    background: #F6F6F6;

    @media(max-width: 1279px) {
        .container {
            padding: 0;
        }
    }

    @media(min-width: 1280px) and (max-width: 1365px) {
        .container {
            padding-right: 0;
        }
    }

    .container {
        .column {
            @media(min-width: 1280px) {
                width: calc(100% - 232px);
                margin-left: auto;
            }
        }
    }
}

.actions-block {
    .container {
        .column {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 30px;

            @media(max-width: 991px) {
                justify-content: center;
                max-width: 800px;
                width: 100%;
                margin: 0 auto;
            }

            @media(min-width: 1280px) {
                padding-left: 36px;
                width: calc(100% - 227px);
                margin-left: auto;
            }
        }
    }
}

.block-links {
    max-width: 230px;
    width: 100%;

    @media(max-width: 991px) {
        max-width: 280px;
        width: 100%;
        margin: 15px;
    }
}

.actions-block__item {
    max-width: 230px;
    width: 100%;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
    height: 180px;
    border-radius: 10px;
    padding: 23px 10px 0px 23px;
    position: relative;

    @media(max-width: 991px) {
        max-width: 280px;
        width: 100%;
        margin: 15px;
    }

    @media(min-width: 992px) and (max-width: 1279px) {
        padding-top: 9px;
        width: 24%;
    }
}

.info-block_news {
    padding: 0;
    display: flex;
    flex-direction: column;

    .actions-block__article {
        padding: 23px 10px 0px 23px;
    }
}

.link-green {
    display: inline-block;
    padding: 7px 13px;
    border-radius: 4px;
    background: #21E7A8;
    font-weight: 800;
    font-size: 13px;
    color: white;
    text-align: center;
}

.actions-block__article {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 18px;
}

.info-block_actions {
    background: url('../img/actions-bg.jpg') no-repeat left 5px center;

    .link-green {
        position: absolute;
        right: 16px;
        bottom: 22px;
    }
}

.info-block_news-img {
    background: url('../img/news-bg.jpg') no-repeat left 5px bottom;

    .link-green {
        position: absolute;
        right: 16px;
        bottom: 22px;
    }
}

.block-links {
    li {
        box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
        border-radius: 6px;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    a {
        display: block;
        padding: 10px 5px 10px 45px;
        font-size: 14px;
        font-weight: 300;
    }
}

.solution-link {
    background: url('../img/note.svg') no-repeat left 10px center;
}

.calendar-link {
    background: url('../img/wtf.svg') no-repeat left 10px center;
}

.partner-link {
    background: url('../img/hands.svg') no-repeat left 10px center;
}

.choice-link {
    background: url('../img/check.svg') no-repeat left 10px center;
}

.big-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0F0F0;
    height: 100%;

    span {
        position: relative;
        font-size: 13px;
        color: #939393;
        display: inline-block;
        padding-left: 76px;
        right: 7px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 62px;
            height: 60px;
            background: url('../img/hello.svg') no-repeat center;
            background-size: contain;
            opacity: 0.5;
        }
    }
}

.banner-slider {
    .swiper-slide {
        position: relative;
        background: #F6F6F6;

        @media(max-width: 767px) {
            display: flex;
            justify-content: center;
        }

        @media(min-width: 768px) {
            background: none;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(247, 247, 247, 0.6);
                z-index: 1;
            }
        }
    }

    .swiper-button-next {
        background: white url('../img/arrow-r.png') no-repeat center;
        width: 35px;
        height: 35px;
        border-radius: 10em;
        opacity: 0.7;
    }

    .swiper-button-prev {
        background: white url('../img/arrow-l.png') no-repeat center;
        width: 35px;
        height: 35px;
        border-radius: 10em;
        opacity: 0.7;
    }
}

.banner-slider__cont {
    padding: 20px 40px;

    @media(min-width: 768px) {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        padding-top: 20px;
        padding-left: 70px;
    }

    @media(min-width: 1280px) {
        padding-top: 44px;
    }
}

.banner-slider__list {
    list-style-type: disc;
    margin-bottom: 18px;
    font-weight: 600;
    color: #4E575C;

    @media(max-width: 991px) {
        font-size: 14px;
        margin-bottom: 5px;
    }
}

.comp-logo {
    margin-bottom: 18px;

    @media(max-width: 991px) {
        margin-bottom: 10px;
    }
}

.banner-slider__img {
    img {
        display: block;
        width: 100%;
    }

    @media(max-width: 767px) {
        display: none;
    }
}

.banner-slider__sub-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #555554;
    font-size: 34px;
    line-height: 32px;
    margin-bottom: 15px;

    @media(max-width: 767px) {
        font-size: 20px;
        line-height: 24px;
    }

    @media(min-width: 768px) and (max-width: 991px) {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    span {
        font-weight: 400;
        color: #F40409;
    }
}

.banner-slider__model {
    text-transform: uppercase;
    color: #4E575C;
    font-weight: 600;
}

.product {
    width: 230px;
    padding: 10px 0px 20px;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    background: white;
}

.cont-slider {
    padding: 10px 0px;

    .swiper-slide {
        display: flex;
        justify-content: center;
    }
}

.star-reyting {
    display: flex;
}

.product__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 19px;
    padding-right: 19px;
}

.product__status {
    display: inline-block;
    width: 62px;
    height: 27px;
    line-height: 27px;
    background: #FF011D;
    color: white;
    text-align: center;
    border-radius: 10em;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.product__img {
    text-align: center;
}

.product__name {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

.product__article {
    text-align: center;
    font-size: 14px;
    margin-bottom: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid #CCCCCC;
}

.product__price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.product__price-new {
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;

    span {
        font-size: 18px;
    }
}

.product__price-old {
    font-size: 16px;
    color: #8B8B8B;
}

.product__buttons {
    display: flex;
    align-items: center;
    padding-left: 19px;
    padding-right: 19px;
}

.add-cart-btn {
    width: 125px;
    height: 40px;
    background: white;
    border: 1px solid #EE3E0E;
    border-radius: 10em;
    color: #EE3E0E;

    &:hover {
        background: #EE3E0E;
        color: white;
    }
}

.add-star-btn {
    width: 20px;
    height: 20px;
    background: url('../img/star1.svg') no-repeat center;
    margin-left: 12px;
    margin-right: 12px;
}

.add-comp-btn {
    width: 25px;
    height: 24px;
    background: url('../img/libra.svg') no-repeat center;
    background-size: contain;
}

.sale-block,
.news-block,
.sales-lead {
    padding-top: 48px;
    background: url('../img/bg-cont.jpg') no-repeat bottom center;

    .container {
        max-width: 1340px;
    }

    .cont-title {
        max-width: 1310px;
        width: 100%;
        padding: 0 15px;
    }
}

.news-block {
    background: white;
}

.stickytop {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: white;

    .catalog-show {
        &:after {
            transform: rotate(-90deg);
        }
    }

    .catalog-show.is-active {
        &:after {
            transform: rotate(0deg);
        }
    }
}

.cont-title {
    margin-bottom: 23px;
    color: #282828;
    font-size: 22px;
    font-weight: 700;

    @media(max-width: 767px) {
        text-align: center;
    }
}

.slider-arrows {
    max-width: 234px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F1F1F1;
    border-radius: 10em;
    padding: 7px;
    font-size: 14px;
    color: #505050;

    @media(max-width: 767px) {
        margin: 0 auto 20px;
    }
}

.slide-nav {
    width: 30px;
    height: 30px;
    border-radius: 10em;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

.slide-nav_prev {
    background: white url('../img/prev.png') no-repeat center;
}

.slide-nav_next {
    background: white url('../img/next.png') no-repeat center;
}

.top-cont {
    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;
        padding-right: 15px;

        .cont-title {
            margin-bottom: 0;
        }
    }
}

.brends {
    padding-top: 55px;
    padding-bottom: 72px;
    position: relative;

    @media(max-width: 767px) {
        padding-bottom: 14px;
        text-align: center;
    }
}

.brends__list {

    li {
        margin-bottom: 15px;

        @media(min-width: 1280px) {
            margin-bottom: 0;
        }
    }

    @media(min-width: 768px) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }

    @media(min-width: 1280px) {
        justify-content: space-between;
    }
}

.news-block {
    padding-top: 38px;
}

.brends__btn {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    height: 54px;
    position: relative;
    font-size: 15px;
    text-align: center;
    background: white;
    border-radius: 10em;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
    padding-left: 36px;

    &:after {
        content: '';
        position: absolute;
        left: 28px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 19px;
        background: url('../img/btn-dw.png') no-repeat center;
    }
}

.brends__button-wrap {
    position: absolute;
    max-width: 280px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}

.sales-lead {
    background: url('../img/bg-lead.jpg') no-repeat center;
    padding-top: 40px;
    padding-bottom: 60px;

    .slider-arrows {
        background: #FFFFFF;
    }
}

.complect {
    max-width: 620px;
    width: 100%;
    background: #F5F5F5;
    border-radius: 18px;
    margin: 0 auto;

    @media(max-width: 767px) {
        max-width: 320px;
        padding-bottom: 20px;
    }

    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.complect-slider__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complect-slider__img {
    background: white;
    border-radius: 10px;
    width: 94px;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 10px;
    }

    @media(max-width: 767px) {
        width: 70px;
        height: 70px;
    }

    &:not(:last-child) {
        position: relative;

        &:after {
            content: '+';
            position: absolute;
            right: -19px;
            top: 50%;
            transform: translateY(-50%);

            @media(max-width: 374px) {
                right: -14px;
            }
        }
    }
}

.complect-slider__wrap {
    position: relative;
    margin-bottom: 20px;

    @media(min-width: 768px) {
        padding: 0 40px;
    }

    .slide-nav {
        box-shadow: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .slide-nav_next {
        right: 0;

        @media(max-width: 767px) {
            right: -15px;
        }
    }

    .slide-nav_prev {
        left: 0;

        @media(max-width: 767px) {
            left: -15px;
        }
    }
}

.complect__left {
    padding: 20px;

    @media(max-width: 767px) {
        padding-bottom: 10px;
    }

    @media(min-width: 768px) {
        width: 75%;
        border-right: 1px solid #DADADA;
    }
}

.complect__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media(max-width: 767px) {
        border-top: 1px solid #CCCCCC;
        padding-top: 7px;
        margin-top: 5px;
    }

    @media(min-width: 768px) {
        width: 25%;
    }
}

.complect__price {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 14px;

    @media(max-width: 767px) {
        margin-bottom: 5px;
    }
}

.complect__price-old {
    font-size: 13px;
    font-weight: 700;
    color: #A9A9A9;
    margin-bottom: 20px;

    @media(max-width: 767px) {
        margin-bottom: 10px;
    }
}

.complect__btn-list {
    @media(max-width: 767px) {
        display: flex;
        padding-top: 20px;

        .add-cart-btn {
            margin-right: 17px;
        }
    }

    li {
        text-align: center;

        &:first-child {
            margin-bottom: 20px;

            @media(max-width: 767px) {
                margin-bottom: 10px;
            }
        }
    }

    .add-cart-btn {
        background: none;

        &:hover {
            background: #EE3E0E;
            color: white;
        }
    }

    .add-star-btn {
        margin: 0;
        margin-right: 17px;
    }
}

.complect__name {
    font-size: 14px;
    margin-bottom: 14px;
}

.complect__article {
    font-size: 14px;
    color: #A9A9A9;
}

.complects-block__inner {
    @media(min-width: 1280px) {
        display: flex;
    }

    .column {
        @media(max-width: 1279px) {
            margin-bottom: 25px;
        }

        @media(min-width: 1280px) {
            width: 50%;
        }
    }
}

.complects-block {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #CCCCCC;

    @media(min-width: 1280px) {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
}

.main-text {
    p {
        font-size: 16px;
        color: #6F6F6F;
        margin-bottom: 50px;
        line-height: 34px;

        @media(max-width: 1279px) {
            margin-bottom: 25px;
            line-height: 24px;
        }
    }
}

.footer__top {
    background: #282828;
    padding-top: 48px;
    padding-bottom: 35px;
}

.footer-phone {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding-left: 28px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: url('../img/phone-grey.png') no-repeat center;
    }
}

.footer-email {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding-left: 28px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: url('../img/email-grey.png') no-repeat center;
    }
}

.footer-contact {
    li {
        margin-bottom: 16px;
    }
}

.footer-logo {
    margin-bottom: 35px;
}

.footer__title {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
}

.footer__list {
    list-style-type: circle;
    padding-left: 15px;

    li {
        margin-bottom: 10px;
    }

    a {
        display: inline-block;

    }

    color: #797979;
    font-size: 16px;

    @media(min-width: 992px) and (max-width: 1279px) {
        font-size: 14px;
    }
}

.footer__top .container {
    @media(max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer__inner {
    .column {
        &:first-child {

            position: relative;

            &:after {
                content: '';
                position: absolute;
                right: 20px;
                top: 0;
                width: 1px;
                height: 100%;
                border-right: 1px solid #3E3E3E;
                display: none;
            }
        }

        @media(min-width: 768px) {
            width: 35%;
            margin-bottom: 25px;
        }

        @media(min-width: 992px) {
            margin-bottom: 0;

            &:first-child {
                width: 33%;
                position: relative;

                &:after {
                    display: block;
                }
            }

            &:nth-child(2) {
                width: 19%;
            }

            &:nth-child(3) {
                width: 25%;
            }

            &:last-child {
                width: 17%;
            }
        }

        @media(min-width: 1280px) {
            &:first-child:after {
                right: 50px;
            }
        }
    }

    @media(min-width: 768px) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    @media(min-width: 1280px) {
        justify-content: space-between;
    }
}

.footer__bottom {
    background: #1F1F1F;
    // padding: 10px 0px;
    color: #969696;
}

.footer__bottom .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.copyrightб .privacy {
    font-size: 15px;
}

.privacy {
    text-decoration: underline;
}

.social {
    display: flex;
    align-items: center;
    padding: 15px 0px;

    li {
        &:not(:last-child) {
            margin-right: 11px;
        }
    }
}

.inner-menu {
    position: absolute;
    left: 233px;
    background: #F8F8F8;
    // width: calc(100% - 232px);
    min-height: 100%;
    z-index: 10;
    top: 0;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
    padding-top: 27px;
    display: none;
    flex-wrap: wrap;

    @media(min-width: 992px) and (max-width: 1099px) {
        left: 212px;
    }

    .inner-menu__item {
        &:not(:last-child) {
            margin-right: 25px;
        }

        &:last-child {
            .inner-menu__inner {
                padding-right: 30px;
            }
        }
    }
}

.inner-menu__title {
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 18px;
}

.dropmenu-main {
    position: relative;
    z-index: 10;
}

.inner-menu__list {
    font-size: 12px;

    li {
        margin-bottom: 5px;
        position: relative;
        padding-left: 16px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            background: none;
            border-radius: 10em;
            border: 1px solid #EE3F0F;
        }
    }
}

.inner-menu__inner {
    padding-left: 33px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DFDFDF;

    @media(min-width: 992px) and (max-width: 1279px) {
        padding-left: 18px;
    }
}

.inner-menu__item {
    .inner-menu__inner {
        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }
}