.top-banner
    .container
        .column
            .banner-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .banner-slider__img
                            img(src="img/banner-img.jpg")

                        .banner-slider__cont
                            .comp-logo
                                img(src="img/comp-logo.png")

                            ul.banner-slider__list
                                li Разрешение Ultra 4k
                                li Сверхтонкое написание (1 мм)
                                li Режим multi-touch (до 20 точек касания)
                                li OC Android, Plug-and-Play
                                li 4-ядерный процессор
                                li WI-FI

                            .banner-slider__sub-title
                                |интерактивные дисплеи 
                                span для<br> продуктивных видеоконференций

                            .banner-slider__model
                                |DS-D5A65RB/B, DS-D5A75RB/B, DS-D5A86RB/B 

                    .swiper-slide
                        .banner-slider__img
                            img(src="img/banner-img.jpg")

                        .banner-slider__cont
                            .comp-logo
                                img(src="img/comp-logo.png")

                            ul.banner-slider__list
                                li Разрешение Ultra 4k
                                li Сверхтонкое написание (1 мм)
                                li Режим multi-touch (до 20 точек касания)
                                li OC Android, Plug-and-Play
                                li 4-ядерный процессор
                                li WI-FI

                            .banner-slider__sub-title
                                |интерактивные дисплеи 
                                span для<br> продуктивных видеоконференций

                            .banner-slider__model
                                |DS-D5A65RB/B, DS-D5A75RB/B, DS-D5A86RB/B

                    .swiper-slide
                        .banner-slider__img
                            img(src="img/banner-img.jpg")

                        .banner-slider__cont
                            .comp-logo
                                img(src="img/comp-logo.png")

                            ul.banner-slider__list
                                li Разрешение Ultra 4k
                                li Сверхтонкое написание (1 мм)
                                li Режим multi-touch (до 20 точек касания)
                                li OC Android, Plug-and-Play
                                li 4-ядерный процессор
                                li WI-FI

                            .banner-slider__sub-title
                                |интерактивные дисплеи 
                                span для<br> продуктивных видеоконференций

                            .banner-slider__model
                                |DS-D5A65RB/B, DS-D5A75RB/B, DS-D5A86RB/B  

                .swiper-button-next
                .swiper-button-prev    

.actions-block
    .container
        .column
            .actions-block__item.info-block_actions
                p.actions-block__article Видорегистратор в подарок!<br> За покупку комплекта!
                a(href="#").link-green Еще акции

            .actions-block__item.info-block_news
                p.actions-block__article Новое решение от ведущих брендов
                a(href="#").big-link 
                    span Еще новости

            .actions-block__item.info-block_news-img
                p.actions-block__article Уличный коммутатор с мощным PoE до 600 Вт и антизависанием
                a(href="#").link-green Еще новости

            ul.block-links
                li
                    a(href="#").solution-link Типовые решения
                li
                    a(href="#").calendar-link Календарь событий
                li
                    a(href="#").partner-link Партнерская программа
                li
                    a(href="#").choice-link Подобрать комплект

