.top-banner
    .container
        .column
            .banner-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .banner-slider__img
                            img(src="img/banner-img.jpg")

                        .banner-slider__cont
                            .comp-logo
                                img(src="img/comp-logo.png")

                            ul.banner-slider__list
                                li Разрешение Ultra 4k
                                li Сверхтонкое написание (1 мм)
                                li Режим multi-touch (до 20 точек касания)
                                li OC Android, Plug-and-Play
                                li 4-ядерный процессор
                                li WI-FI

                            .banner-slider__sub-title
                                |интерактивные дисплеи 
                                span для<br> продуктивных видеоконференций

                            .banner-slider__model
                                |DS-D5A65RB/B, DS-D5A75RB/B, DS-D5A86RB/B 

                    .swiper-slide
                        .banner-slider__img
                            img(src="img/banner-img.jpg")

                        .banner-slider__cont
                            .comp-logo
                                img(src="img/comp-logo.png")

                            ul.banner-slider__list
                                li Разрешение Ultra 4k
                                li Сверхтонкое написание (1 мм)
                                li Режим multi-touch (до 20 точек касания)
                                li OC Android, Plug-and-Play
                                li 4-ядерный процессор
                                li WI-FI

                            .banner-slider__sub-title
                                |интерактивные дисплеи 
                                span для<br> продуктивных видеоконференций

                            .banner-slider__model
                                |DS-D5A65RB/B, DS-D5A75RB/B, DS-D5A86RB/B

                    .swiper-slide
                        .banner-slider__img
                            img(src="img/banner-img.jpg")

                        .banner-slider__cont
                            .comp-logo
                                img(src="img/comp-logo.png")

                            ul.banner-slider__list
                                li Разрешение Ultra 4k
                                li Сверхтонкое написание (1 мм)
                                li Режим multi-touch (до 20 точек касания)
                                li OC Android, Plug-and-Play
                                li 4-ядерный процессор
                                li WI-FI

                            .banner-slider__sub-title
                                |интерактивные дисплеи 
                                span для<br> продуктивных видеоконференций

                            .banner-slider__model
                                |DS-D5A65RB/B, DS-D5A75RB/B, DS-D5A86RB/B  

                .swiper-button-next
                .swiper-button-prev    

.actions-block
    .container
        .column
            .actions-block__item.info-block_actions
                p.actions-block__article Видорегистратор в подарок!<br> За покупку комплекта!
                a(href="#").link-green Еще акции

            .actions-block__item.info-block_news
                p.actions-block__article Новое решение от ведущих брендов
                a(href="#").big-link 
                    span Еще новости

            .actions-block__item.info-block_news-img
                p.actions-block__article Уличный коммутатор с мощным PoE до 600 Вт и антизависанием
                a(href="#").link-green Еще новости

            ul.block-links
                li
                    a(href="#").solution-link Типовые решения
                li
                    a(href="#").calendar-link Календарь событий
                li
                    a(href="#").partner-link Партнерская программа
                li
                    a(href="#").choice-link Подобрать комплект

.sale-block
    .container
        .top-cont
            h2.cont-title Распродажа

            .slider-arrows
                .slide-nav.slide-nav_prev.swiper-button-prev-sale
                .slider-arrows__article Все категории
                .slide-nav.slide-nav_next.swiper-button-next-sale

        .cont-slider.swiper-container.sale-slider
            .swiper-wrapper
                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn
                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn

                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn

                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn

                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn
        .brends
            ul.brends__list
                li
                    img(src="img/brend-1.png")
                li
                    img(src="img/brend-2.png")
                li
                    img(src="img/brend-3.png")
                li
                    img(src="img/brend-4.png")
                li
                    img(src="img/brend-5.png")
                li
                    img(src="img/brend-6.png")
                li
                    img(src="img/brend-7.png")

            .brends__button-wrap
                button(type="button").brends__btn Скачать таблицу брендов

.news-block
    .container
        .top-cont
            h2.cont-title Новинки

            .slider-arrows
                .slide-nav.slide-nav_prev.swiper-button-prev-news
                .slider-arrows__article IP - видеокамеры
                .slide-nav.slide-nav_next.swiper-button-next-news

        .news-slider.swiper-container.cont-slider
            .swiper-wrapper
                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn
                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn

                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn

                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn

                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn

.sales-lead
    .container
        .top-cont
            h2.cont-title Лидеры продаж

            .slider-arrows
                .slide-nav.slide-nav_prev.swiper-button-prev-lead
                .slider-arrows__article IP - видеокамеры
                .slide-nav.slide-nav_next.swiper-button-next-lead

        .lead-slider.swiper-container.cont-slider
            .swiper-wrapper
                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn
                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn

                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn

                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn

                .swiper-slide
                    .product
                        .product__top
                            ul.star-reyting
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-yellow.png")
                                li
                                    img(src="img/star-grey.png")

                            .product__status
                                |sale!

                        .product__img
                            img(src="img/product.jpg")

                        .product__name
                            |DS-2CD23H-2W/K (2.8)

                        .product__article
                            |Беспроводная ip-камера <br>для крепления

                        .product__price
                            .product__price-new
                                |13 000 
                                span &#x20bd;
                            .product__price-old
                                strike
                                    |15 000
                                    |&#x20bd;

                        .product__buttons
                            button(type="button").add-cart-btn В корзину
                            button(type="button").add-star-btn
                            button(type="button").add-comp-btn

.complects-block
    .container
        h2.cont-title Комплекты
        .complects-block__inner
            .column
                .complect
                    .complect__left
                        .complect-slider__wrap
                            .slide-nav.slide-nav_next.swiper-button-next-cl
                            .slide-nav.slide-nav_prev.swiper-button-prev-cl
                            .complect-slider.swiper-container.csl
                                .swiper-wrapper
                                    .swiper-slide
                                        .complect-slider__item
                                            .complect-slider__img
                                                img(src="img/product-sl-1.jpg")
                                            .complect-slider__img
                                                img(src="img/product-sl-2.jpg")
                                            .complect-slider__img
                                                img(src="img/product-sl-3.jpg")

                        .complect__name Комплект из видеокамеры, регистратора и жесткого диска
                        .complect__article Комплект прекрасно подойдет для видеонаблюдения за помещением в 100 кв.м и более

                    .complect__right
                        .complect__price 
                            |90 000
                            |&#x20bd;

                        .complect__price-old 
                            strike 100 000
                            |&#x20bd; 

                        ul.complect__btn-list
                            li
                                button(type="button").add-cart-btn В корзину
                            li
                                button(type="button").add-star-btn
                                button(type="button").add-comp-btn
            .column
                .complect
                    .complect__left
                        .complect-slider__wrap
                            .slide-nav.slide-nav_next.swiper-button-next-cr
                            .slide-nav.slide-nav_prev.swiper-button-prev-cr
                            .complect-slider.swiper-container.csr
                                .swiper-wrapper
                                    .swiper-slide
                                        .complect-slider__item
                                            .complect-slider__img
                                                img(src="img/product-sl-1.jpg")
                                            .complect-slider__img
                                                img(src="img/product-sl-2.jpg")
                                            .complect-slider__img
                                                img(src="img/product-sl-3.jpg")

                        .complect__name Комплект из видеокамеры, регистратора и жесткого диска
                        .complect__article Комплект прекрасно подойдет для видеонаблюдения за помещением в 100 кв.м и более

                    .complect__right
                        .complect__price 
                            |90 000
                            |&#x20bd;

                        .complect__price-old 
                            strike 100 000
                            |&#x20bd; 

                        ul.complect__btn-list
                            li
                                button(type="button").add-cart-btn В корзину
                            li
                                button(type="button").add-star-btn
                                button(type="button").add-comp-btn

.txt-block.main-text.container
    h1.cont-title Системы безопасности как универсальный бизнес инструмент
    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
