.header
    .header-top
        .container
            .column
                .logo
                    img(src="img/logo.png")
            .column
                .info-block.info-block_phone.header-top__item
                    .info-block__item
                        a(href="tel:89292923239").phone-link 8 929 292 3239 
                    .info-block__item
                        a(href="#").info-block__article Заказать звонок

                .info-block.info-block_email.header-top__item
                    .info-block__item
                        a(href="mailto:info@ami-com.ru").email-link info@ami-com.ru
                    .info-block__item
                        a(href="#").info-block__article Написать письмо

                .info-block.info-block_subscription.header-top__item
                    a(href="#").info-block__article Подписаться <br>на новости

                a(href="#").login.header-top__item Войти

    .header__bottom-wrap
        .header__bottom
            .container
                .column
                    .catalog-show 
                        span каталог товаров

                    .burger
                        span
                        span
                        span

                .column
                    ul.main-nav
                        li
                            a(href="#") О Нас
                        li
                            a(href="#") FAQ
                        li
                            a(href="#") Сервисы
                        li
                            a(href="#") Контакты

                    a(href="#").download-price Прайс

                .column
                    form(action="#" method="POST").search-desctop
                        input(type="text" placeholder="Введите слово и нажмите enter")

                    .user-info
                        a(href="#").favor.user-info__link
                            span.count 2

                        a(href="#").comparison.user-info__link
                            span.count 2

                        .basket-block
                            a(href="#").basket.user-info__link
                                span.count 3

                            span.basket-price 
                                b 20 000 
                                |руб

        .dropmenu-main.container
            .catalog-list
                ul.catalog-list__links.catalog-list__links-top
                    li
                        a(href="#").catalog-list__link Видеонаблюдение
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Количество каналов
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Количество каналов
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE

                    li
                        a(href="#").catalog-list__link Камеры видеонаблюдения
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE
                    li
                        a(href="#").catalog-list__link Телевизионные камеры
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE
                    li
                        a(href="#").catalog-list__link Видеорегистраторы
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE
                    li
                        a(href="#").catalog-list__link Системы домофонии
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE
                    li
                        a(href="#").catalog-list__link Охранно-пожарные системы
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE
                    li
                        a(href="#").catalog-list__link Обордуование для приема и передачи сигналов
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE
                    li
                        a(href="#").catalog-list__link Сетевое обордуование
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE
                    li
                        a(href="#").catalog-list__link Микрофоны и переговорные устройства
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE
                    li
                        a(href="#").catalog-list__link Источники питания
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE
                    li
                        a(href="#").catalog-list__link Кабельная продукция и разъемы
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE
                    li
                        a(href="#").catalog-list__link Металлодетекторы
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE

                .more-btn Другие разделы

                ul.catalog-list__links.catalog-list__hidden
                    li
                        a(href="#").catalog-list__link Видеонаблюдение
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Количество каналов
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Количество каналов
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE

                    li
                        a(href="#").catalog-list__link Камеры видеонаблюдения
                        .inner-menu
                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Тестовый заголовок
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 4-канальные
                                        li
                                            a(href="#") 6-канальные
                                        li
                                            a(href="#") 8-канальные
                                        li
                                            a(href="#") 16-канальные
                                        li
                                            a(href="#") 32-канальные
                                        li
                                            a(href="#") 64-канальные
                                        li
                                            a(href="#") Посмотреть все...

                                .inner-menu__inner
                                    .inner-menu__title Тип
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Аналоговые
                                        li
                                            a(href="#") Гибридные
                                        li
                                            a(href="#") Мультигибридные
                                        li
                                            a(href="#") Сетевые (IP)
                                        li
                                            a(href="#") Цифровые

                                .inner-menu__inner
                                    .inner-menu__title Стандарт
                                    ul.inner-menu__list
                                        li
                                            a(href="#") AHD
                                        li
                                            a(href="#") CVI
                                        li
                                            a(href="#") HD-SDI
                                        li
                                            a(href="#") TVI

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Производитель
                                    ul.inner-menu__list
                                        li
                                            a(href="#") Acumen
                                        li
                                            a(href="#") ADVERT
                                        li
                                            a(href="#") Berger
                                        li
                                            a(href="#") BestDVR
                                        li
                                            a(href="#") BEWARD
                                        li
                                            a(href="#") CTV
                                        li
                                            a(href="#") Dahua
                                        li
                                            a(href="#") Everfocus
                                        li
                                            a(href="#") Falcon Eye
                                        li
                                            a(href="#") HIKVISION
                                        li
                                            a(href="#") HiWatch
                                        li
                                            a(href="#") IDIS
                                        li
                                            a(href="#") MACROSCOP
                                        li
                                            a(href="#") Microdigital
                                        li
                                            a(href="#") Optimus
                                        li
                                            a(href="#") Praxis
                                        li
                                            a(href="#") PROvision
                                        li
                                            a(href="#") RVI
                                        li
                                            a(href="#") Trassir
                                        li
                                            a(href="#") Все производители...

                            .inner-menu__item
                                .inner-menu__inner
                                    .inner-menu__title Обмен данными
                                    ul.inner-menu__list
                                        li
                                            a(href="#") HDMI
                                        li
                                            a(href="#") USB 2.0
                                        li
                                            a(href="#") VGA

                                .inner-menu__inner
                                    .inner-menu__title Доп функции
                                    ul.inner-menu__list
                                        li
                                            a(href="#") 5 в 1
                                        li
                                            a(href="#") С детектором движения
                                        li
                                            a(href="#") С POE

        .dropdownmenu
            ul.mob-nav
                li
                    a(href="#") О нас
                li
                    a(href="#") FAQ
                li
                    a(href="#") Сервисы
                li
                    a(href="#") Контакты

            a(href="#").download-price Прайс

            .dropdownmenu__title Каталог продукции

            ul.dropdownmenu__list
                li
                    a(href="#") Видеонаблюдение
                    ul.dropdownmenu__inner
                        li
                            a(href="#") Тест 1
                        li
                            a(href="#") Тест 2
                        li
                            a(href="#") Тест 3
                        li
                            a(href="#") Тест 4
                        li
                            a(href="#") Тест 5
                        li
                            a(href="#") Тест 6
                li
                    a(href="#") Тестовый рункт 1
                    ul.dropdownmenu__inner
                        li
                            a(href="#") Тест 1
                        li
                            a(href="#") Тест 2
                        li
                            a(href="#") Тест 3
                        li
                            a(href="#") Тест 4
                        li
                            a(href="#") Тест 5
                        li
                            a(href="#") Тест 6
                li
                    a(href="#") Видеонаблюдение 2
                    ul.dropdownmenu__inner
                        li
                            a(href="#") Тест 1
                        li
                            a(href="#") Тест 2
                        li
                            a(href="#") Тест 3
                        li
                            a(href="#") Тест 4
                        li
                            a(href="#") Тест 5
                        li
                            a(href="#") Тест 6
                li
                    a(href="#") Тестовый рункт 2
                    ul.dropdownmenu__inner
                        li
                            a(href="#") Тест 1
                        li
                            a(href="#") Тест 2
                        li
                            a(href="#") Тест 3
                        li
                            a(href="#") Тест 4
                        li
                            a(href="#") Тест 5
                        li
                            a(href="#") Тест 6
                li
                    a(href="#") Видеонаблюдение 3
                    ul.dropdownmenu__inner
                        li
                            a(href="#") Тест 1
                        li
                            a(href="#") Тест 2
                        li
                            a(href="#") Тест 3
                        li
                            a(href="#") Тест 4
                        li
                            a(href="#") Тест 5
                        li
                            a(href="#") Тест 6
                li
                    a(href="#") Тестовый рункт 3
                    ul.dropdownmenu__inner
                        li
                            a(href="#") Тест 1
                        li
                            a(href="#") Тест 2
                        li
                            a(href="#") Тест 3
                        li
                            a(href="#") Тест 4
                        li
                            a(href="#") Тест 5
                        li
                            a(href="#") Тест 6

    .header__panel-mob.container
        form(action="#" method="POST").search-mob
            input(type="text" placeholder="Введите слово и нажмите enter")

        .user-info.user-info_mob
            a(href="#").favor.user-info__link
                span.count 2

            a(href="#").comparison.user-info__link
                span.count 2

            .basket-block
                a(href="#").basket.user-info__link
                    span.count 3

                span.basket-price 
                    b 20 000 
                    |руб









